dash==2.16.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
jsonpickle==3.0.3
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
openpyxl==3.1.2
pandas==1.5.3
plotly==5.15.0
gunicorn
zipp==3.17.0
